*{
    margin: 0;
    padding: 0;
}

.cont1{
    max-width: 100%;
    margin: 0 10vw 0 10vw;
}
.cont2{
    padding-top: 3vw;
    max-width: 100%;
    margin: 0 10vw 0 10vw;
}
.cont3{
    width: 30%;
    padding-top:3vw ;
    padding-left: 10vw;

}
.cont4{
    width: 70%;
    padding: 5vw 11vw 0 2vw;
}
.flex{
    width: 100%;
    display: flex;
}