*{
    margin: 0;
    padding: 0;
}

.cont1{
    max-width: 100%;
    margin: 0 10vw 0 10vw;
}
.cont2{
    padding-top: 3vw;
    max-width: 100%;
    margin: 0 10vw 0 10vw;
}
.cont3{
    width: 100%;
    padding-top:3vw ;
    padding-left: 10vw;
    padding-right: 1vw;

}
.cont4{
    width: 100%;
    padding: 5vw 11vw 0 2vw;
}
.flex{
    width: 100%;
    display: flex;
}
footer{
    background-color: rgb(177, 253, 253);
    border: solid black 0.2vw;
    margin: 4vw 1vw 0 1vw;
    width: 100%;
    height: auto;
}
.contpiepag{
    display: flex;
    width: 100%;
}
.piepag1{
    margin: 2vw;
    background-color: rgb(34, 255, 237);  
    width: 50%;
}
.piepag2{
    width: 50%;
    margin: 2vw;
    background-color: rgb(34, 255, 237);
}